body{
  .container {
    padding-top: 50px;
    header{}

    main{
      #sign-in {
        width: 100%;
        padding-top: 20%;
        text-align: center;

        #login-sign-in-link{
            font-size: 2em;
        }
      }

      .shopping-item {
        .item-info{
          .name{
            color: #4a95e5;

            .unit {
              font-style: italic;
              color: #5a636d;
            }
          }

          .price{
            color: #0296AA;
          }
          .tags {
            pointer-events: none;
          }
        }
      }
    }
  }
}


/* Global styles */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
