<template name="editItemModal">
  <div id="edit-item" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Item</h4>
        </div>
        <div class="modal-body">
          {{#with item}}
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="apples, oranges" value="{{name}}">
              </div>

              <div class="form-group">
                <label for="unit">Unit</label>
                <input type="text" class="form-control" id="unit" placeholder="1 gallon, 6 pack" value="{{unit}}">
              </div>

              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" class="form-control" min="1" placeholder="99" value="{{quantity}}">
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="add description" value="">{{description}}</textarea>
              </div>

              <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" id="tags" class="form-control" placeholder="add tags separated by commas (i.e. food, stationary)"  value="{{tags}}">
              </div>
            </form>
          {{/with}}
        </div>
        <div class="modal-footer">
          <a href="#" id="cancelItem" class="btn btn-default btn-lg btn-block" data-dismiss="modal">Cancel</a>
          <a href="#" id="updateItem" class="btn btn-primary btn-lg btn-block">Update</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
