<template name="layout">
  <head>
    <title>Abacus Shopping List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src="/abacus-logo.png" style="max-width:100px; margin-top: -7px;">
              </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-links">
              {{#if currentUser}}
              <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">{{> loginButtons align="right" }}</p></li>
              </ul>
              {{/if}}
            </div>
          </div>
        </nav>
      </header>

      <main>
        {{> yield}}
      </main>
      {{> newItemModal}}
      {{> editItemModal}}
    </div>
  </body>
</template>
