<template name="listPanel">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-5">
            {{> listFilters}}
          </div>

          <div class="col-xs-5">
            <div class="input-group input-group-sm">
              <div class="input-group-addon">
                  <span><i class="glyphicon glyphicon-search"></i></span>
              </div>
              <input type="text" class="form-control" id="search" placeholder="Search tags">
            </div>
          </div>

          <div class="col-xs-2">
            <a href="#" id="newItem" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#new-item">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
          </div>

        </div>
      </div>
      {{> shoppingList}}
    </div>
  </div>
</template>
