<template name="listFilters">
  <div class="btn-group pull-left" role="group">
    <a id="shopping" class="filter btn btn-default btn-sm active">
      <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
    <a id="all" class="filter btn btn-default btn-sm">
      <span class="glyphicon glyphicon-list"></span>
    </a>
    <a id="purchased" class="filter btn btn-default btn-sm">
      <span class="glyphicon glyphicon-check"></span>
    </a>
  </div>
</template>
