<template name="shoppingItem">
  <a href="#" class="list-group-item shopping-item {{#if purchased}}purchased{{/if}}">
    <div class="col-xs-1 vcenter">
      <input type="checkbox" checked="{{purchased}}" class="toggle-purchased" />
    </div>

    <div class="col-xs-7 vcenter">
      <div class="item-info">
        <h3 class="name">
          {{name}} <small class="unit">{{unit}}</small>
        </h3>

        <h4 class="price">
          ${{convertToDollar priceCents}}
          <small class="quantity badge"><span>&times;</span>{{quantity}}</small>
        </h4>

        <p class="description">
          <dl><dd>{{description}}</dd></dl>
        </p>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-tags"></i>
          </span>
          <input type="text" class="form-control tags" value="{{tags}}" disabled="true">
        </div>
      </div>
    </div>

    <div class="col-xs-3 vcenter">
      <span class="cancel-item btn">
        <span class="glyphicon glyphicon-trash"></span>
      </span>
      <span class="edit-item btn">
        <span class="glyphicon glyphicon-pencil"></span>
      </span>
    </div>
  </a>
</template>
