<template name="shoppingList">
  <div class="list-group">
    <div class="total-cost list-group-item">
      Total Cost: ${{convertToDollar totalCostCents}}
    </div>
    {{#each items}}
      {{> shoppingItem}}
    {{/each}}
  </div>
</template>
